<h3 id="user-welcome" data-name="<%= current_user.name if current_user %>">Welcome</h3>
<p><%= link_to 'Users:', all_users_path %> <%= User.count %> registered</p>
<p><%= link_to 'Cities:', cities_path %> <%= City.count %> registered</p>